$light-green-color: 99e2D0;
$green-color: 008766;
$light-bleu-color: 89C8FA;
$night-bleu-color: 003A68;
$purple-color: 9356DC;

header {
  max-width: 1440px;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    background-color: white;
  }
}
