/*font-family*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*import*/
/*colors principal*/
/*colors deco*/
header {
  max-width: 768px;
  width: 100%;
}

.header {
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__title {
  font-family: "shrikhand", sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 500;
}

#header__page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 75px;
  padding-left: 15px;
}

.header__search {
  background-color: #eaeaea;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 10px rgba(97, 96, 96, 0.5);
}
.header__search__txt {
  color: #353535;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}

.header__search > .fa-solid {
  color: #353535;
}

@media screen and (min-width: 768px) {
  header {
    max-width: 1440px;
  }
  .header {
    height: 90px;
  }
}
footer {
  border: 2px solid magenta;
  max-width: 768px;
  width: 100%;
  height: 186px;
  background-color: #353535;
  color: #ffffff;
  padding-left: 20px;
}

.footer h4 {
  width: 100%;
  border: 2px solid red;
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 10px 0;
}

.footer__txt > p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.txt {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  footer {
    max-width: 1440px;
    height: auto;
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }
  .footer__txt > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
}
main img {
  max-width: 1440px;
  width: 100%;
  height: 275px;
  object-fit: cover;
  border: 2px solid blue;
  z-index: 0;
}

main {
  position: relative;
}

.main__container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 30px 30px 0 0;
  transform: translateY(-50px);
}

.main__container h2 {
  font-family: "shrikhand", sans-serif;
  font-weight: 500;
  margin: 20px 0 40px 15px;
}

.card_container {
  position: relative;
  text-align: justify;
}
.card_container__title {
  border: 2px solid pink;
  flex-grow: 1;
  text-align: justify;
}
.card_container__txt {
  border: 2px solid pink;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}
.card_container__check {
  border: 2px solid yellow;
  width: 0;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease-out;
  overflow: hidden;
  white-space: nowrap;
}

input[type=checkbox] {
  display: none;
}

.card_restaurant {
  border: 2px solid red;
  width: 349px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.5s ease-out;
}

.card_container__check i {
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

input[type=checkbox]:checked + .card_restaurant .card_container__check {
  width: 20%; /* 20% de la largeur totale */
}

input[type=checkbox]:checked + .card_restaurant .card_container__check i {
  opacity: 1;
}

.plats {
  border: 2px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.plats__title {
  border: 2px solid blue;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 15px;
  text-decoration: underline #99e2d0;
}

.commander {
  width: 186px;
  height: 50px;
  border-radius: 30px;
  margin-top: 40px;
  border: none;
  background: linear-gradient(#9356dc, #ff79da);
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

.main {
  background-color: #f3f3f3;
  max-width: 768px;
  height: 287px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.main p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.main > button {
  width: 218px;
  height: 50px;
  border-radius: 30px;
  margin-top: 40px;
  border: none;
  background: linear-gradient(#9356dc, #ff79da);
  color: #ffffff;
}

.menu {
  border: 2px solid red;
  max-width: 768px;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.menu__title {
  padding: 30px 0 10px 20px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}
.category__filtre {
  width: 335px;
  height: 72px;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  background-color: #f3f3f3;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 8px 8px 10px rgba(97, 96, 96, 0.5);
  z-index: 0;
}

.category__item {
  position: relative;
}

.category > button .fa-solid {
  color: #7e7e7e;
}

.category .circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -10px;
  bottom: -50px;
  z-index: 1;
}

.restaurants {
  border: 2px solid green;
  max-width: 768px;
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurants h2 {
  border: 2px solid pink;
  width: 100%;
}

.cards-row {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cards {
  border: 2px solid magenta;
  width: 340px;
  height: 251px;
  border-radius: 15px;
  background-color: white;
}
.cards__img > img {
  width: 100%;
  height: 188px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.cards .cards__txt {
  padding: 10px 0 10px 10px;
}
.cards .cards__title {
  border: 2px solid yellow;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 1440px;
    width: 100%;
    height: 238px;
  }
  .menu {
    max-width: 1440px;
    width: 100%;
    padding: 50px 180px 50px 180px;
  }
  .menu__title {
    padding: 0 0 0 25px;
  }
  .category {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .restaurants {
    max-width: 1440px;
    width: 100%;
    padding: 50px 180px 0 180px;
  }
  .cards-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  .cards-row > .cards {
    width: 490px;
    height: auto;
    margin-bottom: 50px;
  }
}