/*import*/
@import "Utils/viariable";
@import "Utils/mixins";
@import "Layouts/header";
@import "Layouts/footer";
@import "Base/general";
@import "Manger/restaurant";
@import "Components/chargement";
* {
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  height: 100%;
}
 
.main__container__index {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main {
  background-color: $color-principal;

  height: 287px;
  @include column-center;
  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  &__container__button {
    @include button;
  }
}

.main p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.fa-store {
  color: $color-purple;
}

.menu {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: white;
  padding: 20px 20px 60px 20px;
  &__title {
    padding: 30px 0 10px 10px;
  }
}

.restaurant__Title {
  width: 100%;
  max-width: 1080px;
}
.category {
  @include column;
  gap: 15px;
  position: relative;
  &__filtre {
    @include button-choice;
    @include shadow_filtre;
    z-index: 0;
  }
}
.category__item {
  width: 100%;
}

.category > button .fa-solid {
  color: #7e7e7e;
}
.category .circle {
  @include circle;
  position: relative;
  left: -10px;
  bottom: -50px;
  z-index: 1;
}

.new {
  width: 80px;
  height: 29px;
  background-color: $color-lightGreen;
position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;

  p {
    color: $color-green;
    font-size: 14px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding-top: 5px;
  }
}

.restaurants {
  width: 100%;
  height: auto;
  background-color: $color-principal;
  padding: 30px;
  display: flex;
  flex-direction: column;
  &__card {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}
.restaurants__card a {
  display: block;
  height: 251px;
  text-decoration: none;
  color: black; //penser a le mettre en sass au dessus//
  position: relative;
 
}
.restaurants h2 {
  width: 100%;
  padding: 0 0 20px 20px;
}
.cards-row {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cards {
  @include cards;
  background-color: white;
  position: relative;

  &__img > img {
    width: 100%;
    height: 170px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  &__txt {
    padding: 10px;
    
    display: flex;
    flex-direction: column;
   justify-content: center;
   height:80px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }

}


.cards__img {
  position: relative;
}
.heart_container {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
z-index: 1;
}
input {
  display: none;
}
.checkbox {
  display: flex;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.heart-icon {
 position: absolute;
  transition: color 0.3 ease;
}
.heart-full {
  position: absolute;
color: rgb(143, 6, 136);;
  opacity: 0;
  transition: color 0.3s ease;
}

input.checkbox:checked ~ .heart-icon {
  opacity: 0;
}
input.checkbox:checked ~ .heart-full {
  opacity: 1;
  animation: click_heart 0.3s forwards;
}

.heart-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -37px;
}
.main__cards {
 
  position: relative;
  box-sizing: border-box;
}
.heart {
 
  height: 25px;
  width: 50px;
  position: absolute;
  right: 0px;
  bottom: 15px;
}
@keyframes click_heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  html {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
  }

  //contenue principal//
  .header__content,
  .header__search,
  .main,
  .menu,
  .restaurants {
    width: 100%;
  }
  //main//
  .main {
    height: 238px;
  }
  //menu//
  .menu {
    padding: 50px 180px 50px 180px;
    &__title {
      padding-left: 25px;
    }
  }
  .category {
    margin-top: 25px;
    @include row;
    gap: 25px;
  }
  .restaurant__Title {
    margin-bottom: 20px;
  }
  .restaurants {
    display: flex;
    align-items: center;
    h2 {
      width: 268px;
      display: flex;
      justify-content: flex-start;
      padding: 0;
    }
  }
  .restaurants__card {
    max-width: 1080px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 40px;
    column-gap: 80px;
  }

  .cards {
    width: 100%;
  }
  .cards-row > .cards {
    width: 490px;
    height: auto;
    margin-bottom: 50px;
  }

  .new__content {
    max-width: 115px;
    justify-content: center;
    .new {
      margin-right: 40px;
    }
  }
}
