/*import*/
@import "Utils/viariable";
@import "Utils/mixins";
@import "Layouts/header";
@import "Layouts/footer";
@import "Restaurant/restaurant";
@import "Base/general";

* {
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

.main {
  background-color: $color-principal;
  max-width: 768px;
  height: 287px;
  @include column-center;
  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
}
.main p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.main > button {
  @include button;
}

.menu {
  max-width: 768px;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-color: white;
  &__title {
    padding: 30px 0 10px 20px;
  }
}
.category {
  @include column;
  gap: 15px;
  position: relative;
  &__filtre {
    @include button-choice;
    @include shadow;
    z-index: 0;
  }
}
.category__item {
  position: relative;
}

.category > button .fa-solid {
  color: #7e7e7e;
}
.category .circle {
  @include circle;
  position: relative;
  left: -10px;
  bottom: -50px;
  z-index: 1;
}

.restaurants {
  max-width: 768px;
  width: 100%;
  height: auto;
  background-color: $color-principal;
  @include flex-start;
  margin-bottom: 18px;
  &__card {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}
.restaurants h2 {
  width: 100%;
}
.cards-row {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cards {
  @include cards;
  background-color: white;

  &__img > img {
    width: 100%;
    height: 188px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  .cards__txt {
    padding: 10px 0 10px 10px;
  }
  .cards__title {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 1440px;
    width: 100%;
    height: 238px;
  }
  .menu {
    max-width: 1440px;
    width: 100%;
    padding: 50px 180px 50px 180px;
    &__title {
      padding: 0 0 0 25px;
    }
  }
  .category {
    margin-top: 25px;
    @include row;
  }
  .restaurants {
    max-width: 1440px;
    width: 100%;
    padding: 50px 180px 0 180px;
  }
  .cards-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  .cards-row > .cards {
    width: 490px;
    height: auto;
    margin-bottom: 50px;
  }
}
