.fa-arrow-left {
  text-decoration: none;
  color: black;
}
.heart_container__restaurant {
  height: auto;
  display: flex;
  align-items: center;
  right: 10px;
  bottom: -20px;
}
.main__container__Page {
  max-width: 1440px;
}
.main_i {
  background-color: $color-principal;
   border-radius: 40px 40px 0 0;
  position: relative;

}

.main__container {
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: $color-principal;
  position: relative;
  z-index: 2;
  padding: 10px;
  margin-top: -50px;
  h2 {
    font-family: "shrikhand", sans-serif;
    font-weight: 500;
    padding: 30px 0 20px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
  }
  &__title i {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
}

.card_container {
  position: relative; //sert a montre les icones//
  margin-bottom: 10px;
   display: flex;
   border-radius: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  h4 {
    padding: 0 10px;
  }
  &__title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    transition: width 0.5s ease-in-out;
    gap: 5px;
  
  }
  &__txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
  }
  &__content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    transition: max-width 0.5s ease;
  }
  &__check {
    border: 0.1px solid white;
    width: 0;
    height: 100%;
    background-color: $color-lightGreen;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s ease-out;
    overflow: hidden;
    white-space: nowrap;
  }
}
.card_restaurant {
  @include card_restaurant;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.5s ease-out;
  width: 100%;
   background-color: $color-secondary;
}
input[type="checkbox"] {
  display: none;
}

.card_container__check i {
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

input[type="checkbox"]:checked ~ .card_restaurant .card_container__check {
  width: 20%;
}
input[type="checkbox"]:checked ~ .card_restaurant .card_container__check i {
  opacity: 1;
}
input[type="checkbox"]:checked + .card_restaurant .card_container__txt .card_container__content p {
  max-width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; // Affiche les ellipses
  transition: max-width 0.5s ease-out;
}

.plats {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 20px;
  &__title {
    width: 100%;
    max-width: 634px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .deco-line {
    border: 0;
    height: 3px;
    background-color: $color-lightGreen;
    width: 10%;
    max-width: 40px;
    margin-bottom: 10px;
  }
}
.div__button__commander {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commander {
  @include button__commander;
  margin-top: 25px;
}

.text {
  font-size: 20px;
  font-family: "shrikhand", sans-serif;
}


//media queries//
@media screen and (min-width: 768px) {
  header {
    position: relative;
    z-index: 1;
  }

  .heart_container__restaurant {
  right: -20px;
  bottom: -16px;
}
  .main_i {
    display: flex;
    justify-content: center;
    background-color: $color-secondary;
    
  }
  .main__container {
    width: 75%;
    margin-top: 190px;
    background-color: $color-principal;

  }
  .main__container .card_restaurant {
    background-color: $color-secondary;
  }
  .main__container__title {
    justify-content: center;
    i {
      margin-top: 10px;
    }
  }

  .plats {
    display: grid;
    grid-template-columns: 1fr; // une colonne avec taille adapter//
    justify-items: center; //permet de centre mes card//
  }
  .card_container {
   
    max-width: 634px;
    width: 100%;
  }
  .Deco__Line__Content {
    width: 100%;
    max-width: 634px;
  }
  .card_container__check {
    max-width: 69px;
  }
  .card_restaurant {
    position: relative;
  }
  .card_restaurant:hover .card_container__check {
    width: 100%; //faire apparaitre les cartes vertes//
  }
  .card_restaurant:hover .card_container__check i {
    opacity: 1; // pour que le fa-circle-check apparait//
  }
  
  input[type="checkbox"]:checked + .card_restaurant .card_container__txt .card_container__content p {
  text-overflow:unset; // Affiche les ellipses
  max-width: 100%; // permet de ne pas couper une partie de mon texte//
}
}
