@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@mixin space-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}
@mixin column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@mixin row-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@mixin shadow_filtre {
  box-shadow: 8px 8px 10px rgba(97, 96, 96, 0.2);
}

@mixin button {
  width: 218px;
  height: 50px;
  border-radius: 30px;
  margin-top: 40px;
  border: none;
  background: linear-gradient($color-purple, $color-pink);
  color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@mixin button-choice {
  width: 100%;
  height: 72px;
  border-radius: 20px;
  padding-left: 50px;
  gap: 20px;
  display: flex;
  align-items: center;

  background-color: $color-principal;
}

@mixin cards {
  width: 100%;
  height: 251px;
  border-radius: 15px;
}
@mixin circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $color-purple;
  color: $color-secondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@mixin card_restaurant {
  
  height: 69px;
  background-color: $color-principal;
  border-radius: 20px;
}
@mixin button__commander {
  width: 186px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background: linear-gradient($color-purple, $color-pink);
  color: $color-secondary;
}
