/*colors principal*/
$color-principal: #f3f3f3;
$color-secondary: #ffffff;
$color-third: #353535;

/*colors deco*/
$color-purple: #9356dc;
$color-pink: #ff79da;
$color-lightGreen: #99e2d0;
$color-green: #008766;
$color-lightBlue: #89c8fa;
$color-nightBlue: #003a68;
