footer {
  border: 2px solid green;
  max-width: 768px;
  width: 100%;
  height: 186px;
  background-color: $color-third;
  color: $color-secondary;
  padding-left: 20px;
}

.footer h4 {
  width: 100%;
  border: 2px solid green;
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 10px 0;
}
.footer__txt > p {
  @include footer;
}
.txt {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  footer {
    max-width: 1440px;
    height: auto;
    padding: 30px 25px;
    @include row-reverse;
    gap: 16px;
  }

  .footer__txt > p {
    @include row-footer;
    gap: 15px;
  }
}
